<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Lato%3A300%2C300italic%2C400%2C400italic%2C700%2C700italic&amp;display=swap" rel="stylesheet">
  <title>Ian's 🗑️ Tweet Counter</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='dtbz_2Sn.ico') }}">
</head>

<body>
  <section>
    <div class="part description">
      <p class="text">Ian, we all love him, but damn he can't keep his fingers off the delete button — here's a live
        look at how many tweets he's deleted since {{ since }}</p>
    </div>
    <div class="part number">
      <p class="digit">{{ deleted }}</p>
    </div>
  </section>
  <p class="bottom">Thanks <a href="https://github.com/Glitchii">@Glitchii</a></p>

</body>

</html>
